<div class="container fixed top-0 left-0 h-full w-full flex align-items-center justify-content-center">
    <div class="flex flex-column">
        <div class="logo flex justify-content-center">
            <img class="p-2" ngSrc="assets/images/loading-screen-logo.png" width="100" height="100" [priority]="true"
                alt="Logo">
        </div>
        <div class="card flex justify-content-center">
            <p-card [style]="{width:'25rem'}">
                <ng-template pTemplate="title">
                    <div class="flex justify-content-center">
                        <div class="text-xl">Sign in</div>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <p-messages showTransitionOptions="500ms" />
                    <form method="post" [formGroup]="signinForm" (ngSubmit)="handelSignin()">
                        <div class="flex flex-column gap-2 mt-3">
                            <label for="email">Email</label>
                            <p-iconField>
                                <p-inputIcon styleClass="pi pi-at" />
                                <input class="w-full" type="email" pInputText id="email" formControlName="email"
                                    placeholder="john@example.com">
                            </p-iconField>
                            <div class="email-error"
                                *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].dirty">
                                <p-messages severity="error" showTransitionOptions="500ms"
                                    *ngIf="signinForm.controls['email']?.errors?.['required']">
                                    <ng-template pTemplate>
                                        <div class="ml-2">Email is required</div>
                                    </ng-template>
                                </p-messages>
                                <p-messages severity="error" showTransitionOptions="500ms"
                                    *ngIf="signinForm.controls['email']?.errors?.['email']">
                                    <ng-template pTemplate>
                                        <div class="ml-2">Not a valid email id</div>
                                    </ng-template>
                                </p-messages>
                            </div>
                        </div>
                        <div class="flex flex-column gap-2 mt-3 relative">
                            <label for="password">Password</label>
                            <div class="relative">
                                <i class="pi pi-lock lock-icon"></i>
                                <p-password [feedback]="false" styleClass="w-full" inputStyleClass="w-full"
                                    [toggleMask]="true" [inputStyle]="{paddingLeft:'2.5rem'}"
                                    formControlName="password" />
                            </div>
                            <div class="password-error"
                                *ngIf="signinForm.controls['password'].invalid && signinForm.controls['password'].dirty">
                                <p-messages severity="error" showTransitionOptions="500ms"
                                    *ngIf="signinForm.controls['password']?.errors?.['required']">
                                    <ng-template pTemplate>
                                        <div class="ml-2">Password is required</div>
                                    </ng-template>
                                </p-messages>
                            </div>
                        </div>
                        <div class="w-full mt-3">
                            <p-button label="Signin" [raised]="true" styleClass="w-full" type="submit"
                                [disabled]="signinForm.invalid" />
                        </div>
                    </form>
                    <div class="mt-4">
                        <p>Don't have an account? <a routerLink="/signup">Create One</a></p>
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>