:host ::ng-deep .main-menu {
  border: 1px solid white;
}

.card-body {
  border-right: 0.1rem solid #166daf;
}

.panel {
  background-color: #56186e;
  border: 1px solid #3498db;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
}

.active {
  background-color: #0ad447;
  border: 1px solid #3498db;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  color: #000000;

  &:hover {
    background-color: #3498db;
    color: white;
  }
}
