<div class="card w-full h-screen">
    <div class="flex flex-col justify-between h-full">
        <div class="flex flex-col p-2">
            <div class="flex flex-col items-center justify-center cursor-pointer mb-1"
                *ngFor="let item of sideNavigationPanelItems" (click)="handelMenuItemSelect(item)">
                <div
                    [ngClass]="(selectedMenuItem.label === item.label ? 'bg-gray-700 text-primary' : 'hover:bg-gray-700 hover:text-primary transition-all duration-300 ease-in') + ' ' + 'p-3 rounded-lg flex items-center justify-center'">
                    <i
                        [ngClass]="(selectedMenuItem.label === item.label ? item.filledIcon :  item.icon) + ' ' + item.iconClass"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-col p-2">
            <div class="user-profile flex align-items-center justify-content-center cursor-pointer"
                (click)="handelMenuItemSelect(profileMenuItem)">
                <div
                    [ngClass]="(selectedMenuItem.label === 'Profile' ? 'bg-gray-700 text-primary' : 'hover:bg-gray-700 hover:text-primary transition-all duration-300 ease-in') + ' ' + 'p-3 rounded-lg flex items-center justify-center'">
                    <div class="flex items-center justify-center">
                        <i [ngClass]="profileMenuItem.icon + ' ' + profileMenuItem.iconClass"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>