<div class="w-full h-screen relative overflow-hidden">
    <div class="flex flex-col gap-2 p-3 w-full h-full overflow-x-hidden overflow-y-auto bg-gray-800">
        <div class="flex justify-between">
            <div class="flex items-center text-xl">{{globalService.selectedMenuItem?.label}}</div>
            <div class="flex items-center gap-1 relative"> <!-- new private chat -->
                <div class="cursor-pointer hover:bg-gray-700 p-2 rounded-lg hover:text-primary"
                    (click)="openOrCloseOverlayPanel('new-private-chat')">
                    <i class="bi bi-person-plus-fill text-xl h-6 w-6 inline-flex items-center justify-center"></i>
                </div>
                <div class="cursor-pointer hover:bg-gray-700 hover:text-primary p-2 rounded-lg" hideOnClickOutside
                    (clickOutside)="isMoreOptionsVisible = false" (click)="toggleMoreOptionsDropdown()">
                    <!-- more options -->
                    <i class="bi bi-three-dots-vertical text-xl h-6 w-6 inline-flex items-center justify-center"></i>
                </div>
                <div class="absolute top-full right-0 w-max z-10" @fadeInOut *ngIf="isMoreOptionsVisible">
                    <div class="flex flex-col rounded-lg gap-2 bg-primary-content p-2 relative">
                        <div *ngFor="let option of moreChatOptionsItems">
                            <div class="flex items-center gap-2 hover:text-primary p-2 rounded-lg cursor-pointer"
                                (click)="option?.command()">
                                <div class="dropdown-menu-icon"><i [ngClass]="option.icon"></i></div>
                                <div class="dropdown-menu-title">{{option.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2" *ngIf="globalService.selectedMenuItem?.label === 'Chats'">
            <div *ngFor="let chat of chatsList" (click)="handelUserSelect(chat)">
                <div
                    [ngClass]="(selectedPeople.user_id === chat.connected_user_id ? 'bg-slate-900 shadow-lg' : 'bg-inherit hover:bg-slate-900 ') + ' ' + 'flex items-center cursor-pointer p-2 w-full rounded-lg hover:drop-shadow-[0.5mm_0.5mm_0.5mm_#fff]'">
                    <div class="flex justify-between w-full">
                        <div class="flex items-center gap-2">
                            <div class="flex items-center justify-center">
                                <i class="bi bi-person-circle text-4xl"></i>
                            </div>
                            <div class="flex flex-col">
                                <div class="text-lg">{{chat.username}}</div>
                                <div class="text-sm text-gray-400">{{chat.content}}
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="flex flex-col">
                                <div class="text-gray-400 text-sm">{{chat.last_chat_time | date:'HH:mm'}}
                                </div>
                                <div class="flex items-center justify-center text-white text-sm bg-primary rounded-full"
                                    *ngIf="globalService.selectedUser?.user_id !== chat.connected_user_id && chat.new_chats_count !== 0">
                                    <div class="">
                                        {{chat.new_chats_count}}
                                    </div>
                                </div>
                            </div>
                            <!-- <div>
                                <p><span class="material-icons">done</span></p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="activity" *ngIf="globalService.selectedMenuItem?.label === 'Activity'">

        </div>
    </div>
    <!-- new private connection panel -->
    <div class="absolute top-0 left-0 w-full h-full bg-primary-content z-20" *ngIf="isNewPrivateChatPanelVisible"
        @slideInOut>
        <div class="flex flex-col justify-center">
            <div class="flex items-center p-2">
                <div class="flex items-center justify-center rounded-lg cursor-pointer mr-4 p-1.5 hover:bg-gray-700 text-white hover:text-primary transition-all duration-200 ease-in"
                    (click)="openOrCloseOverlayPanel('new-private-chat')">
                    <i class="bi bi-arrow-left text-xl h-6 w-6 inline-flex items-center justify-center"></i>
                </div>
                <div class="text-xl text-white">Start New Conversation</div>
            </div>
            <div class="px-3"> <!-- panel content -->
                <div class="flex flex-col">
                    <input
                        class="border-b-[1px] border-gray-400 focus:border-primary outline-none bg-primary-content shadow-none p-2 transition-all duration-200 ease-in"
                        type="text" placeholder="Search name or email" (input)="searchPeople($event,'private')">
                </div>
                <div class="flex flex-col mt-3 gap-2">
                    <div *ngFor="let people of foundPeople"> <!-- found people -->
                        <div class="flex items-center gap-2 p-2 rounded-lg bg-slate-900 cursor-pointer hover:drop-shadow-[0.5mm_0.5mm_0.5mm_#fff] hover:text-primary"
                            (click)="startPrivateChat(people)">
                            <div>
                                <i class="bi bi-person-circle text-lg"></i>
                            </div>
                            <div>{{people.username}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- select group member panel -->
    <div class="absolute top-0 left-0 w-full h-full bg-primary-content z-20" *ngIf="isNewGroupPanelVisible" @slideInOut>
        <div class="flex flex-col justify-center">
            <div class="flex items-center p-2">
                <div class="flex items-center justify-center cursor-pointer mr-4 p-2 rounded-lg text-white hover:bg-gray-700 hover:text-primary transition-all duration-200 ease-in"
                    (click)="openOrCloseOverlayPanel('new-group')">
                    <i class="bi bi-arrow-left text-xl h-6 w-6 inline-flex items-center justify-center"></i>
                </div>
                <div class="text-xl text-white">Add Group Members</div>
            </div>
            <div class="px-3"> <!-- panel content -->
                <div class="flex flex-col">
                    <div class="flex flex-wrap gap-2">
                        <div *ngFor="let member of groupMembers"
                            class="flex items-center gap-2 p-1 rounded-lg bg-gray-700">
                            <!-- member chips -->
                            <div>
                                <i class="bi bi-person-circle text-lg"></i>
                            </div>
                            <div>{{member.username}}</div>
                            <div class="flex items-center justify-center cursor-pointer p-1 rounded-lg hover:bg-gray-700 hover:text-primary"
                                (click)="addOrRemoveGroupMember(member, false)">
                                <i class="bi bi-x"></i>
                            </div>
                        </div>
                    </div>
                    <input
                        class="border-b-[1px] border-gray-400 focus:border-primary outline-none bg-primary-content shadow-none p-2 transition-all duration-200 ease-in"
                        type="text" placeholder="Search name or email" (input)="searchPeople($event,'group')">
                </div>
                <div class="flex flex-col mt-3 gap-2">
                    <div *ngFor="let people of alreadyConnectedPeople"> <!-- already connected people -->
                        <div class="flex items-center gap-2 p-1 rounded-lg bg-gray-700 cursor-pointer hover:bg-gray-500 hover:text-primary"
                            (click)="addOrRemoveGroupMember(people, true)">
                            <div>
                                <i class="bi bi-person-circle text-lg"></i>
                            </div>
                            <div>{{people.username}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 left-0 w-full" *ngIf="groupMembers.length > 0" @slideInOut>
                <!-- button for group info -->
                <div class="flex justify-center items-center py-3 px-2 bg-gray-900">
                    <button class="btn btn-circle btn-outline" (onClick)="openOrCloseOverlayPanel('new-group-info')">
                        <i class="bi bi-arrow-right text-2xl text-white h-100 w-100"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- group info panel -->
    <div class="absolute top-0 left-0 w-full h-full bg-primary-content z-30" *ngIf="isNewGroupInfoPanelVisible"
        @slideInOut>
        <div class="flex flex-col justify-center">
            <div class="flex items-center p-2">
                <div class="flex items-center justify-center cursor-pointer mr-4 p-2 rounded-lg text-white hover:bg-gray-700 hover:text-primary transition-all duration-200 ease-in"
                    (click)="openOrCloseOverlayPanel('new-group-info')">
                    <i class="bi bi-arrow-left text-xl h-6 w-6 inline-flex items-center justify-center"></i>
                </div>
                <div class="text-xl text-white">Enter Group Info</div>
            </div>
            <div class="px-3"> <!-- group info panel content -->
                <div class="flex flex-col items-center justify-center">
                    <!-- group image -->
                    <div
                        class="cursor-pointer flex relative h-48 w-48 items-center justify-center bg-gray-900 rounded-full">
                        <i class="bi bi-people-fill text-8xl text-gray-700"></i>
                        <div class="absolute w-full h-full flex flex-col gap-2 items-center justify-center">
                            <i class="bi bi-camera-fill text-3xl text-white"></i>
                            <div class="text-sm text-white uppercase">Add Group Image</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col mt-3 gap-2">
                    <div class="flex flex-col"> <!-- group name -->
                        <input type="text" name="group-name" id="group-name" placeholder="Group Name"
                            class="outline-none border-b-[1px] border-gray-400 focus:border-primary bg-primary-content p-2">
                    </div>
                    <div class="flex flex-col"> <!-- group description -->
                        <!-- <div [contentEditable]="true"
                            class="border-none outline-none border-bottom-1 border-gray-400 focus:border-primary surface-ground p-2 mt-2 select-text cursor-text h-auto"
                            #groupDescription title="Group Description (optional)" role="textbox"></div> -->
                        <textarea rows="1" name="" id="" (input)="handelGroupDescriptionFieldStyle($event)"
                            (blur)="demo($event)"
                            class="w-full outline-none border-b-[1px] border-gray-400 focus:border-primary bg-primary-content p-2 resize-none"
                            placeholder="Group Description (optional)"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card flex justify-content-center">
    <p-dialog header="Add people" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [dismissableMask]="true"
        (onHide)="resetState()" position="top">
        <div class="card">
            <form [formGroup]="searchForm">
                <div class="flex flex-column gap-2">
                    <label for="email">Email</label>
                    <input pInputText id="email" formControlName="search" (input)="searchPeople()" />
                </div>
            </form>
            <div class="border-1 border-cyan-300 border-round-md mt-2" *ngIf="foundPeople.length">
                <div class="flex align-items-center gap-3 hover:bg-white-alpha-10 p-2 cursor-pointer"
                    *ngFor="let people of foundPeople; index as i" (click)="addToChatList(people)">
                    <div class="profile-image">
                        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" [style]="{marginTop:'0.4rem'}" />
                    </div>
                    <div class="detail">
                        <div class="profile-name">{{people.username}}</div>
                        <div class="profile-email text-sm">{{people.email}}</div>
                    </div>
                </div>
            </div>
            <div *ngIf="!isPeopleFound && searchForm.controls['search'].valid && !loading">
                <div class="p-2 border-1 border-cyan-300 border-round-md mt-2">No people found</div>
            </div>
            <div class="card flex justify-content-center" *ngIf="loading">
                <p-progressSpinner ariaLabel="loading" styleClass="w-4rem h-4rem" />
            </div>
        </div>
    </p-dialog>
</div> -->