.card-body {
  border-right: 0.1rem solid #166daf;
}
:host ::ng-deep .p-button {
  transform: translateX(0);
  &:hover i {
    transition: transform 0.2s ease-in-out;
    transform: translateX(5px);
  }
}
