.lock-icon {
  position: absolute;
  left: 0.75rem; /* Adjust as needed */
  font-size: 1.1rem; /* Size of the icon */
  color: #a1a1aa; /* Change to your preferred color */
  bottom: 10px;
  z-index: 10;
}
