<div class="flex justify-center items-center mb-6">
    <div class="flex flex-col">
        <div class="flex justify-center">
            <img class="p-2" ngSrc="assets/images/loading-screen-logo.png" width="100" height="100" [priority]="true"
                alt="Logo">
        </div>
        <div class="card bg-primary-content w-96">
            <div class="p-6">
                <!-- Signin Form -->
                <div *ngIf="showSigninForm" @fadeInRight>
                    <div class="flex justify-center">
                        <div class="text-xl">Sign in</div>
                    </div>
                    <!--Need to create alert-->
                    <form method="post" [formGroup]="signinForm" (ngSubmit)="handelSignin()">
                        <div class="flex flex-col mt-3">
                            <div class="label">
                                <span class="label-text">Email</span>
                            </div>
                            <label class="input input-bordered flex items-center gap-1 px-2 h-10" for="email">
                                <i class="bi bi-at text-2xl"></i>
                                <input class="grow" type="email" id="email" formControlName="email">
                            </label>
                            <div class="email-error mt-2"
                                *ngIf="signinForm.controls['email'].invalid && signinForm.controls['email'].dirty">
                                <div role="alert" class="alert alert-error">
                                    <i class="bi bi-x-circle-fill"></i>
                                    <span *ngIf="signinForm.controls['email']?.errors?.['required']">Email is
                                        required</span>
                                    <span *ngIf="signinForm.controls['email']?.errors?.['email']">Not a valid email
                                        id</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col mt-3 relative">
                            <div class="label">
                                <span class="label-text">Password</span>
                            </div>
                            <label class="input input-bordered flex items-center gap-1 px-2 h-10">
                                <i class="bi bi-key-fill text-2xl"></i>
                                <input #loginPassword type="password" class="grow" value="password"
                                    formControlName="password" />
                                <i [ngClass]="{'cursor-pointer bi':true, 'bi-eye-fill':loginPassword.type === 'password', 'bi-eye-slash-fill':loginPassword.type === 'text'}"
                                    (click)="togglePasswordState(loginPassword)"></i>
                            </label>
                            <div class="password-error mt-2"
                                *ngIf="signinForm.controls['password'].invalid && signinForm.controls['password'].dirty">
                                <div role="alert" class="alert alert-error"
                                    *ngIf="signinForm.controls['password']?.errors?.['required']">
                                    <i class="bi bi-x-circle-fill"></i>
                                    <span>Password is required</span>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-center items-center w-full mt-4">
                            <button class="btn btn-sm btn-primary text-white w-full cursor-pointer"
                                [disabled]="signinForm.invalid" type="submit">
                                <span class="loading loading-spinner" *ngIf="loadingStatus"></span>
                                Signin
                            </button>
                        </div>
                    </form>
                    <div class="mt-4 flex justify-center items-center">
                        <div class="flex justify-center items-center">Don't have an account? <button
                                class="btn btn-link" (click)="showSigninForm = false">Create One</button></div>
                    </div>

                </div>
                <!-- Signup Form -->
                <div *ngIf="!showSigninForm" @fadeInLeft>
                    <div class="flex justify-center">
                        <div class="text-xl">Create Account</div>
                    </div>
                    <div>
                        <!--Need to create alert-->
                        <form method="post" [formGroup]="signupForm" (ngSubmit)="handelSignup()">
                            <div class="flex flex-col mt-3">
                                <div class="label">
                                    <span class="label-text">Name</span>
                                </div>
                                <label class="input input-bordered flex items-center gap-1 px-2 h-10">
                                    <i class="bi bi-person-fill text-2xl"></i>
                                    <input class="w-full" type="text" id="username" formControlName="username">
                                </label>
                                <div class="username-error mt-2"
                                    *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].dirty">
                                    <div role="alert" class="alert alert-error">
                                        <i class="bi bi-x-circle-fill"></i>
                                        <span *ngIf="signupForm.controls['username']?.errors?.['required']">Name is
                                            required</span>
                                        <span *ngIf="signupForm.controls['username']?.errors?.['minlength']">Name must
                                            be 3 or more letter long</span>
                                        <span *ngIf="signupForm.controls['username']?.errors?.['pattern']">Name must
                                            contain only letters and whitespace</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col mt-3">
                                <div class="label">
                                    <span class="label-text">Email</span>
                                </div>
                                <label class="input input-bordered flex items-center gap-1 px-2 h-10">
                                    <i class="bi bi-at text-2xl"></i>
                                    <input class="w-full" type="email" id="email" formControlName="email">
                                </label>
                                <div class="email-error mt-2"
                                    *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].dirty">
                                    <div role="alert" class="alert alert-error">
                                        <i class="bi bi-x-circle-fill"></i>
                                        <span *ngIf="signupForm.controls['email']?.errors?.['required']">Email is
                                            required</span>
                                        <span *ngIf="signupForm.controls['email']?.errors?.['email']">Not a valid email
                                            id</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col mt-3">
                                <div class="label">
                                    <span class="label-text">Password</span>
                                </div>
                                <label class="input input-bordered flex items-center gap-1 px-2 h-10">
                                    <i class="bi bi-key-fill text-2xl"></i>
                                    <input #signupPassword type="password" class="grow" value="password"
                                        formControlName="password" />
                                    <i [ngClass]="{'cursor-pointer bi':true, 'bi-eye-fill':signupPassword.type === 'password', 'bi-eye-slash-fill':signupPassword.type === 'text'}"
                                        (click)="togglePasswordState(signupPassword)"></i>
                                </label>
                                <div class="password-error mt-2"
                                    *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].dirty">
                                    <div role="alert" class="alert alert-error">
                                        <i class="bi bi-x-circle-fill"></i>
                                        <span *ngIf="signupForm.controls['password']?.errors?.['required']">Password is
                                            required</span>
                                        <span *ngIf="signupForm.controls['password']?.errors?.['pattern']">Not a strong
                                            password. Follow password rule</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-full mt-3 flex items-center justify-center">
                                <button class="btn btn-sm btn-primary w-full text-white" [disabled]="signupForm.invalid"
                                    type="submit">Create</button>
                            </div>
                        </form>
                        <div class="mt-4 flex justify-content-center align-items-center">
                            <div>Already have an account? <button class="btn btn-link"
                                    (click)="showSigninForm = true">Signin</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>